
.modal-header {
    background-color: #4CAF50; 
    color: white;
}


.modal-footer .btn-primary {
    background-color: #6B4226; 
    border-color: #6B4226;
}

.modal-footer .btn-secondary {
    background-color: #8B5E3C; 
    border-color: #8B5E3C;
}


.modal-body img {
    border: 2px solid #6B4226; 
}
